In [ ]:
import pyspark

In [ ]:
#Create pyspark session
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Practice").getOrCreate()
spark

In [ ]:
#Read data
spark_df=spark.read.csv('test_file.csv',header=True,enforceSchema=True)
spark_df.show()

+----+----------+----+----------+------+
|Name|Department| Age|experience|salary|
+----+----------+----+----------+------+
|  AA|        D1|  30|         2|   100|
|  BB|        D1|  35|         1|   125|
|  CC|        D3|  25|         3|   100|
|  DD|        D2|  20|      NULL|    60|
|  EE|      NULL|  29|         4|    95|
|  FF|        D2|  22|         4|    90|
|  GG|        D7|NULL|         1|    82|
|  HH|        D2|  38|         6|   115|
+----+----------+----+----------+------+

In [ ]:
#Cast Columns to the Correct Data Types:

from pyspark.sql.types import IntegerType, DoubleType

cols=["Age","experience","salary"]

for col in cols:
  spark_df = spark_df.withColumn(col, spark_df[col].cast(IntegerType()))
spark_df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- experience: integer (nullable = true)
 |-- salary: integer (nullable = true)

In [ ]:
spark_df.show()

+----+----------+----+----------+------+
|Name|Department| Age|experience|salary|
+----+----------+----+----------+------+
|  AA|        D1|  30|         2|   100|
|  BB|        D1|  35|         1|   125|
|  CC|        D3|  25|         3|   100|
|  DD|        D2|  20|      NULL|    60|
|  EE|      NULL|  29|         4|    95|
|  FF|        D2|  22|         4|    90|
|  GG|        D7|NULL|         1|    82|
|  HH|        D2|  38|         6|   115|
+----+----------+----+----------+------+

**Drop Nan/Null values**

In [ ]:
#Drop nulls
spark_df.dropna( ).show()


#spark_df.na.drop().show()

+----+----------+---+----------+------+
|Name|Department|Age|experience|salary|
+----+----------+---+----------+------+
|  AA|        D1| 30|         2|   100|
|  BB|        D1| 35|         1|   125|
|  CC|        D3| 25|         3|   100|
|  FF|        D2| 22|         4|    90|
|  HH|        D2| 38|         6|   115|
+----+----------+---+----------+------+

In [ ]:
# how='any', 'all'

spark_df.dropna(how='all').show()

+----+----------+----+----------+------+
|Name|Department| Age|experience|salary|
+----+----------+----+----------+------+
|  AA|        D1|  30|         2|   100|
|  BB|        D1|  35|         1|   125|
|  CC|        D3|  25|         3|   100|
|  DD|        D2|  20|      NULL|    60|
|  EE|      NULL|  29|         4|    95|
|  FF|        D2|  22|         4|    90|
|  GG|        D7|NULL|         1|    82|
|  HH|        D2|  38|         6|   115|
+----+----------+----+----------+------+

In [ ]:
#subset
spark_df.dropna(subset=['Department']).show()

+----+----------+----+----------+------+
|Name|Department| Age|experience|salary|
+----+----------+----+----------+------+
|  AA|        D1|  30|         2|   100|
|  BB|        D1|  35|         1|   125|
|  CC|        D3|  25|         3|   100|
|  DD|        D2|  20|      NULL|    60|
|  FF|        D2|  22|         4|    90|
|  GG|        D7|NULL|         1|    82|
|  HH|        D2|  38|         6|   115|
+----+----------+----+----------+------+

In [ ]:
spark_df.show()

+----+----------+----+----------+------+
|Name|Department| Age|experience|salary|
+----+----------+----+----------+------+
|  AA|        D1|  30|         2|   100|
|  BB|        D1|  35|         1|   125|
|  CC|        D3|  25|         3|   100|
|  DD|        D2|  20|      NULL|    60|
|  EE|      NULL|  29|         4|    95|
|  FF|        D2|  22|         4|    90|
|  GG|        D7|NULL|         1|    82|
|  HH|        D2|  38|         6|   115|
+----+----------+----+----------+------+

**#Filling Null values**

In [ ]:
#1) filling with values
spark_df.fillna(30,'Age').show()

+----+----------+---+----------+------+
|Name|Department|Age|experience|salary|
+----+----------+---+----------+------+
|  AA|        D1| 25|         1|    70|
|  BB|        D1| 30|         3|   100|
|  CC|        D2| 35|         4|   110|
|  DD|        D3| 22|         1|    60|
|  EE|        D2| 30|         3|    75|
|  FF|      NULL| 44|         3|    73|
|  ZZ|        D3| 23|         2|    46|
|  KK|        D4| 30|         2|    80|
+----+----------+---+----------+------+

In [ ]:
# spark_df.fillna('Unkown',['Department']).show()
# spark_df.fillna('30',['Age']).show()

spark_df.fillna({'Age':30,'Department':'Unknown'}).show()

+----+----------+---+----------+------+
|Name|Department|Age|experience|salary|
+----+----------+---+----------+------+
|  AA|        D1| 30|         2|   100|
|  BB|        D1| 35|         1|   125|
|  CC|        D3| 25|         3|   100|
|  DD|        D2| 20|      NULL|    60|
|  EE|   Unknown| 29|         4|    95|
|  FF|        D2| 22|         4|    90|
|  GG|        D7| 30|         1|    82|
|  HH|        D2| 38|         6|   115|
+----+----------+---+----------+------+

In [ ]:
spark_df.show()

+----+----------+----+----------+------+
|Name|Department| Age|experience|salary|
+----+----------+----+----------+------+
|  AA|        D1|  30|         2|   100|
|  BB|        D1|  35|         1|   125|
|  CC|        D3|  25|         3|   100|
|  DD|        D2|  20|      NULL|    60|
|  EE|      NULL|  29|         4|    95|
|  FF|        D2|  22|         4|    90|
|  GG|        D7|NULL|         1|    82|
|  HH|        D2|  38|         6|   115|
+----+----------+----+----------+------+

In [ ]:
#2)filling numeric columns with stats using imputer

from pyspark.ml.feature import Imputer
imputer=Imputer(inputCols=['Age'],outputCols=['Age']).setStrategy('mean')     #or mode, median
df_imputed=imputer.fit(spark_df).transform(spark_df)

df_imputed.show()

+----+----------+---+----------+------+
|Name|Department|Age|experience|salary|
+----+----------+---+----------+------+
|  AA|        D1| 30|         2|   100|
|  BB|        D1| 35|         1|   125|
|  CC|        D3| 25|         3|   100|
|  DD|        D2| 20|      NULL|    60|
|  EE|      NULL| 29|         4|    95|
|  FF|        D2| 22|         4|    90|
|  GG|        D7| 28|         1|    82|
|  HH|        D2| 38|         6|   115|
+----+----------+---+----------+------+

In [ ]:
#filling categorical features with mode
# Step 1: Calculate the mode (most frequent value)
mode_value = df_imputed.groupBy("Department").count().orderBy("count", ascending=False).first()[0]

# Step 2: Use fillna() to replace nulls with the mode
df_imputed = spark_df.fillna({'Department': mode_value})

# Show the imputed DataFrame
df_imputed.show()

+----+----------+----+----------+------+
|Name|Department| Age|experience|salary|
+----+----------+----+----------+------+
|  AA|        D1|  30|         2|   100|
|  BB|        D1|  35|         1|   125|
|  CC|        D3|  25|         3|   100|
|  DD|        D2|  20|      NULL|    60|
|  EE|        D2|  29|         4|    95|
|  FF|        D2|  22|         4|    90|
|  GG|        D7|NULL|         1|    82|
|  HH|        D2|  38|         6|   115|
+----+----------+----+----------+------+