In [1]:
import pyspark

In [2]:
#create spark session
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Practice").getOrCreate()
spark

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/06/20 16:37:03 WARN Utils: Your hostname, Xiaochens-MacBook-Pro.local, resolves to a loopback address: 127.0.0.1; using 192.168.0.111 instead (on interface en0)
25/06/20 16:37:03 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/06/20 16:37:16 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Py4JJavaError: An error occurred while calling None.org.apache.spark.api.java.JavaSparkContext.
: java.lang.UnsupportedOperationException: getSubject is supported only if a security manager is allowed
	at java.base/javax.security.auth.Subject.getSubject(Subject.java:347)
	at org.apache.hadoop.security.UserGroupInformation.getCurrentUser(UserGroupInformation.java:588)
	at org.apache.spark.util.Utils$.$anonfun$getCurrentUserName$1(Utils.scala:2446)
	at scala.Option.getOrElse(Option.scala:201)
	at org.apache.spark.util.Utils$.getCurrentUserName(Utils.scala:2446)
	at org.apache.spark.SparkContext.<init>(SparkContext.scala:339)
	at org.apache.spark.api.java.JavaSparkContext.<init>(JavaSparkContext.scala:59)
	at java.base/jdk.internal.reflect.DirectConstructorHandleAccessor.newInstance(DirectConstructorHandleAccessor.java:62)
	at java.base/java.lang.reflect.Constructor.newInstanceWithCaller(Constructor.java:501)
	at java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:485)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:247)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:238)
	at py4j.commands.ConstructorCommand.invokeConstructor(ConstructorCommand.java:80)
	at py4j.commands.ConstructorCommand.execute(ConstructorCommand.java:69)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:184)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:108)
	at java.base/java.lang.Thread.run(Thread.java:1575)

In [ ]:
# read data
spark_df=spark.read.csv('test_file.csv',header=True,enforceSchema=True)
spark_df.show()

+----+----------+----+----------+------+
|Name|Department| Age|experience|salary|
+----+----------+----+----------+------+
|  AA|        D1|  30|         2|   100|
|  BB|        D1|  35|         1|   125|
|  CC|        D3|  25|         3|   100|
|  DD|        D2|  20|      NULL|    60|
|  EE|      NULL|  29|         4|    95|
|  FF|        D2|  22|         4|    90|
|  GG|        D7|NULL|         1|    82|
|  HH|        D2|  38|         6|   115|
+----+----------+----+----------+------+

In [ ]:
#list of columns
spark_df.columns

['Name', 'Department', 'Age', 'experience', 'salary']

In [ ]:
spark_df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- experience: string (nullable = true)
 |-- salary: string (nullable = true)

In [ ]:
#Cast Columns to the Correct Data Types:

from pyspark.sql.types import IntegerType

cols=["Age","experience","salary"]
for col in cols:
  spark_df = spark_df.withColumn(col, spark_df[col].cast(IntegerType()))
spark_df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- experience: integer (nullable = true)
 |-- salary: integer (nullable = true)

In [ ]:
spark_df.show()

+----+----------+----+----------+------+
|Name|Department| Age|experience|salary|
+----+----------+----+----------+------+
|  AA|        D1|  30|         2|   100|
|  BB|        D1|  35|         1|   125|
|  CC|        D3|  25|         3|   100|
|  DD|        D2|  20|      NULL|    60|
|  EE|      NULL|  29|         4|    95|
|  FF|        D2|  22|         4|    90|
|  GG|        D7|NULL|         1|    82|
|  HH|        D2|  38|         6|   115|
+----+----------+----+----------+------+

In [ ]:
#select columns
sub_df=spark_df.select(['Name','Department', 'Age'])
sub_df.show()

+----+----------+----+
|Name|Department| Age|
+----+----------+----+
|  AA|        D1|  30|
|  BB|        D1|  35|
|  CC|        D3|  25|
|  DD|        D2|  20|
|  EE|      NULL|  29|
|  FF|        D2|  22|
|  GG|        D7|NULL|
|  HH|        D2|  38|
+----+----------+----+

In [ ]:
#Check the size of data

print(spark_df.count(),len(spark_df.columns))

8 5

In [ ]:
#check data types
spark_df.dtypes

[('Name', 'string'),
 ('Department', 'string'),
 ('Age', 'int'),
 ('experience', 'int'),
 ('salary', 'int')]

In [ ]:
# Describe dataframe
spark_df.describe().show()

+-------+----+----------+------------------+------------------+------------------+
|summary|Name|Department|               Age|        experience|            salary|
+-------+----+----------+------------------+------------------+------------------+
|  count|   8|         7|                 7|                 7|                 8|
|   mean|NULL|      NULL|28.428571428571427|               3.0|            95.875|
| stddev|NULL|      NULL| 6.604471789556498|1.8257418583505538|19.866968278311326|
|    min|  AA|        D1|                20|                 1|                60|
|    max|  HH|        D7|                38|                 6|               125|
+-------+----+----------+------------------+------------------+------------------+

In [ ]:
#Adding new column
spark_df=spark_df.withColumn('experience_after_2_years',spark_df['experience']+2)
spark_df.show()

+----+----------+----+----------+------+------------------------+
|Name|Department| Age|experience|salary|experience_after_2_years|
+----+----------+----+----------+------+------------------------+
|  AA|        D1|  30|         2|   100|                       4|
|  BB|        D1|  35|         1|   125|                       3|
|  CC|        D3|  25|         3|   100|                       5|
|  DD|        D2|  20|      NULL|    60|                    NULL|
|  EE|      NULL|  29|         4|    95|                       6|
|  FF|        D2|  22|         4|    90|                       6|
|  GG|        D7|NULL|         1|    82|                       3|
|  HH|        D2|  38|         6|   115|                       8|
+----+----------+----+----------+------+------------------------+

In [ ]:
#drop column(s)
spark_df=spark_df.drop('experience_after_2_years')
spark_df.show()

+----+----------+----+----------+------+
|Name|Department| Age|experience|salary|
+----+----------+----+----------+------+
|  AA|        D1|  30|         2|   100|
|  BB|        D1|  35|         1|   125|
|  CC|        D3|  25|         3|   100|
|  DD|        D2|  20|      NULL|    60|
|  EE|      NULL|  29|         4|    95|
|  FF|        D2|  22|         4|    90|
|  GG|        D7|NULL|         1|    82|
|  HH|        D2|  38|         6|   115|
+----+----------+----+----------+------+

In [ ]:
#rename column(s)
spark_df.withColumnRenamed('Name','Full Name').show()

+---------+----------+----+----------+------+
|Full Name|Department| Age|experience|salary|
+---------+----------+----+----------+------+
|       AA|        D1|  30|         2|   100|
|       BB|        D1|  35|         1|   125|
|       CC|        D3|  25|         3|   100|
|       DD|        D2|  20|      NULL|    60|
|       EE|      NULL|  29|         4|    95|
|       FF|        D2|  22|         4|    90|
|       GG|        D7|NULL|         1|    82|
|       HH|        D2|  38|         6|   115|
+---------+----------+----+----------+------+

In [ ]:
#rename column(s)
#new_df=spark_df.withColumnRenamed('Name','Full Name').withColumnRenamed('Department','Sector')

new_df=spark_df.withColumnsRenamed({'Name':'Full Name','Department':'Sector' })
new_df.show()

+---------+------+----+----------+------+
|Full Name|Sector| Age|experience|salary|
+---------+------+----+----------+------+
|       AA|    D1|  30|         2|   100|
|       BB|    D1|  35|         1|   125|
|       CC|    D3|  25|         3|   100|
|       DD|    D2|  20|      NULL|    60|
|       EE|  NULL|  29|         4|    95|
|       FF|    D2|  22|         4|    90|
|       GG|    D7|NULL|         1|    82|
|       HH|    D2|  38|         6|   115|
+---------+------+----+----------+------+

In [ ]:
#Rename columns
spark_df.withColumnRenamed('salary','wage').show()

+----+----------+----+----------+----+
|Name|Department| Age|experience|wage|
+----+----------+----+----------+----+
|  AA|        D1|  30|         2| 100|
|  BB|        D1|  35|         1| 125|
|  CC|        D3|  25|         3| 100|
|  DD|        D2|  20|      NULL|  60|
|  EE|      NULL|  29|         4|  95|
|  FF|        D2|  22|         4|  90|
|  GG|        D7|NULL|         1|  82|
|  HH|        D2|  38|         6| 115|
+----+----------+----+----------+----+

In [ ]:
#Stop session

spark.stop()